h1, h3, .instructions { 
	text-align: center;
}

.col-lg-2, .col-md-2, .col-sm-2, .col-xs-2 {
    border-style: solid;
    border-width: medium;
    height: 100px;
    border-color: black;
    text-align: center;
    font-size: 2em;
    background-color: #ff0000 #0000ff;
}

.selected {
	background-color: green;
}

.taken {
	background-color: red;
}

.reserved {
	background-color: blue;
}

.container {
	background-color: rgba(204, 204, 204, 0.2);
	color: white;
	padding: 20px;
	text-shadow: 0 0 5px black;
	height: 100%;
}

.row {
	padding-left: 20px;
	padding-right: 20px;
}

section p, h4 {
	background-color: green;
}

body {
	background-color: black;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-position: center;
}

form {
	background-color: #CCC;
	color: black;
	text-shadow: none;
	margin-left: 50px;
	margin-right: 50px;
	padding: 10px;
	display: none;
}
